.popup__close-button {
  background-image: url(../../../images/close-iconsvg.svg);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 32px;
  height: 32px;
  outline: none;
  padding: 0;
  transition: 0.5s;
  opacity: 1;
  display: flex;
  position: absolute;
  top: -40px;
  right: -40px;
	cursor: pointer;
}

@media (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
}