.profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  /* margin: 0 auto; */
  margin: 40px auto 0;
}

@media (max-width: 1000px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    max-width: 282px;
  }
}

@media (max-width: 320px) {
  .profile {
    margin-top: 31px;
  }
}