.profile__plus {
  height: 22px;
  width: 22px;
	/* background-image: url(../../../images/plus.svg); */
}

@media (max-width: 320px) {
  .profile__plus {
    margin-top: 4px;
    margin-left: 1px;
		height: 16px;
  }
}
