.register__submit-btn {
	background-color: #fff;
	color: #000;
	border: none;
	height: 50px;
	margin-top: 216px;
	margin-bottom: 15px;
	padding: 0;
	/* margin: 46px 0 0; */
	border-radius: 2px;
	font-style: inherit;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	transition: opacity .3s ease-in;

}

.register__submit-btn:hover {
	cursor: pointer;
	opacity: 0.85;
}