.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
	background-size: cover;
  /* object-fit: cover;
  background-repeat: no-repeat;
  background-color: transparent; */
}

@media (max-width: 1000px) {
  .profile__avatar {
    max-width: 168.75px;
    min-height: 122.5px;
    margin-top: 5px;
  }
}