.popup__container {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  padding-right: 35px;
	background-color: #fff;
  color: #000;
  position: relative;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .popup__container {
    padding-left: 22px;
    padding-right: 22px;
		max-width: 282px;
    min-height: 322px;
  }
}