.profile__add-button {
   /* width: 150px;
  height: 50px;
  background-size: cover;
  border: 0;
	background-image: url(../../../images/plus.svg);
  border: 2px solid #FFFFFF;
  background-repeat: no-repeat;
  background-color: transparent;
	border-radius: 2px;
  padding: 0;
  transition: 0.5s;
  opacity: 1;  
	 all: unset;
	background-color: black;
	margin: 35px 0 0 244px;
	width: 100%;
	max-width: 150px;
	height: 50px;
	grid-area: add;
	background-image: url(../../../images/plus.svg);
	background-repeat: no-repeat;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	background-position: center;
	cursor: pointer; */
	background-color: transparent;
	padding: 0;
	background-image: url(../../../images/plus.svg);
	background-position: center;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	width: 150px;
	height: 50px;
	border: 2px solid #FFF;
	border-radius: 2px;
	transition: opacity .3s ease-in;
}

.profile__add-button:hover {
  opacity: 0.6;
	cursor: pointer;
}

@media (max-width: 1000px) {
  .profile__add-button {
    width: 282px;
  }
}